#tree{
    /* border: 1px solid red; */
    text-align: center;
    margin-top:20vh;
    font-size: 6vw;
    color: white;
}
#search{
    width: 50vw;
    margin: auto;
    
}
#auto{
    text-align: center;
    font-size: 2vw;
    color: white;
}
@media only screen and (max-width: 600px) {
    #tree{
        /* border: 1px solid red; */
        text-align: center;
        margin-top:20vh;
        font-size: 10vw;
        color: white;
    }
    #auto{
        text-align: center;
        font-size: 4vw;
        color: white;
    }
    #search{
        width: 80vw;
        margin: auto;
        
    }
}
#main{
    border: 1px solid;
    height: 100vh;
    background-image: url("/img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}